[submodule "fpga/ibex_wb"]
	path = sub/ibex_wb
	url = https://github.com/epsilon537/ibex_wb
	branch = boxlambda
[submodule "fpga/ibex"]
	path = sub/ibex
	url = https://github.com/epsilon537/ibex
	branch = boxlambda
[submodule "fpga/wbuart32"]
	path = sub/wbuart32
	url = https://github.com/epsilon537/wbuart32
	branch = boxlambda
[submodule "sub/riscv-dbg"]
	path = sub/riscv-dbg
	url = https://github.com/epsilon537/riscv-dbg
[submodule "sub/tech_cells_generic"]
	path = sub/tech_cells_generic
	url = https://github.com/epsilon537/tech_cells_generic
[submodule "sub/common_cells"]
	path = sub/common_cells
	url = https://github.com/epsilon537/common_cells
[submodule "sub/pulpino"]
	path = sub/pulpino
	url = https://github.com/epsilon537/pulpino
[submodule "sub/picolibc"]
	path = sub/picolibc
	url = https://github.com/epsilon537/picolibc
[submodule "sub/litex"]
	path = sub/litex
	url = https://github.com/epsilon537/litex
[submodule "sub/vera_wishbone"]
	path = sub/vera_wishbone
	url = https://github.com/epsilon537/vera_wishbone
[submodule "sub/sdspi"]
	path = sub/sdspi
	url = https://github.com/epsilon537/sdspi
[submodule "sub/fatfs"]
	path = sub/fatfs
	url = https://github.com/epsilon537/fatfs
[submodule "sub/zbasic"]
	path = sub/zbasic
	url = https://github.com/epsilon537/zbasic
[submodule "sub/jt49"]
	path = sub/jt49
	url = https://github.com/epsilon537/jt49
[submodule "sub/ym2149_psg_system"]
	path = sub/ym2149_psg_system
	url = https://github.com/epsilon537/YM2149_PSG_system
[submodule "sub/StSound"]
	path = sub/StSound
	url = https://github.com/epsilon537/StSound
[submodule "sub/Praxos"]
	path = sub/Praxos
	url = https://github.com/epsilon537/Praxos
