[submodule "sub/ibex_wb"]
	path = sub/ibex_wb
	url = https://github.com/epsilon537/ibex_wb
	branch = boxlambda
[submodule "sub/ibex"]
	path = sub/ibex
	url = https://github.com/epsilon537/ibex
[submodule "sub/wbuart32"]
	path = sub/wbuart32
	url = https://github.com/epsilon537/wbuart32
	branch = boxlambda
[submodule "sub/riscv-dbg"]
	path = sub/riscv-dbg
	url = https://github.com/epsilon537/riscv-dbg
[submodule "sub/tech_cells_generic"]
	path = sub/tech_cells_generic
	url = https://github.com/epsilon537/tech_cells_generic
[submodule "sub/common_cells"]
	path = sub/common_cells
	url = https://github.com/epsilon537/common_cells
[submodule "sub/pulpino"]
	path = sub/pulpino
	url = https://github.com/epsilon537/pulpino
[submodule "sub/picolibc"]
	path = sub/picolibc
	url = https://github.com/epsilon537/picolibc
[submodule "sub/litex"]
	path = sub/litex
	url = https://github.com/epsilon537/litex
[submodule "sub/vera_wishbone"]
	path = sub/vera_wishbone
	url = https://github.com/epsilon537/vera_wishbone
[submodule "sub/sdspi"]
	path = sub/sdspi
	url = https://github.com/epsilon537/sdspi
[submodule "sub/fatfs"]
	path = sub/fatfs
	url = https://github.com/epsilon537/fatfs
[submodule "sub/ym2149_psg_system"]
	path = sub/ym2149_psg_system
	url = https://github.com/epsilon537/YM2149_PSG_system
[submodule "sub/StSound"]
	path = sub/StSound
	url = https://github.com/epsilon537/StSound
[submodule "sub/Praxos"]
	path = sub/Praxos
	url = https://github.com/epsilon537/Praxos
[submodule "sub/picorv32"]
	path = sub/picorv32
	url = https://github.com/epsilon537/picorv32
[submodule "sub/litedram"]
	path = sub/litedram
	url = https://github.com/epsilon537/litedram
[submodule "sub/wb2axip"]
	path = sub/wb2axip
	url = https://github.com/epsilon537/wb2axip
[submodule "sub/verilog-wishbone"]
	path = sub/verilog-wishbone
	url = https://github.com/epsilon537/verilog-wishbone
[submodule "sub/usb_hid_host"]
	path = sub/usb_hid_host
	url = https://github.com/epsilon537/usb_hid_host
[submodule "sub/usb_hid_device"]
	path = sub/usb_hid_device
	url = https://github.com/epsilon537/usb_hid_device
