[globcfg]
base_address = 0x100000D0
data_width = 32
address_width = 32
address_alignment = data_width
force_name_case = none

[c_header]
path = ./generated/reset_regs.h
prefix = RESET
generator = CHeader

[md_doc]
path = ./generated/reset_regs.md
title = Reset Register map
print_images = True
image_dir = md_img
print_conventions = True
generator = Markdown

[asm]
path = ./generated/reset_regs.s
prefix = RESET
generator = ./generators/regmap_asm_generator.py::AsmGenerator
