[globcfg]
base_address = 0x10000200
data_width = 32
address_width = 32
address_alignment = data_width
force_name_case = none

[c_header]
path = ./generated/i2c_master_regs.h
prefix = I2C_MASTER
generator = ./generators/c_nocstd_generator.py::CHeaderNoCstd

[md_doc]
path = ./generated/i2c_master_regs.md
title = I2C Master Register map
print_images = True
image_dir = md_img
print_conventions = True
generator = Markdown

[asm]
path = ./generated/i2c_master_regs.s
prefix = I2C_MASTER
generator = ./generators/asm_generator.py::AsmGenerator
