[globcfg]
base_address = 0x10020000
data_width = 32
address_width = 32
address_alignment = data_width
force_name_case = none

[c_header]
path = ./generated/mtimer_regs.h
prefix = MTIMER
generator = ./generators/c_nocstd_generator.py::CHeaderNoCstd

[md_doc]
path = ./generated/mtimer_regs.md
title = Machine Timer Register map
print_images = True
image_dir = md_img
print_conventions = True
generator = Markdown

[asm]
path = ./generated/mtimer_regs.s
prefix = MTIMER
generator = ./generators/asm_generator.py::AsmGenerator
