[globcfg]
base_address = 0x100000C0
data_width = 32
address_width = 32
address_alignment = data_width
force_name_case = none

[c_header]
path = ./generated/spiflash_regs.h
prefix = SPIFLASH
generator = ./generators/c_nocstd_generator.py::CHeaderNoCstd

[md_doc]
path = ./generated/spiflash_regs.md
title = SPIFlash Register map
print_images = True
image_dir = md_img
print_conventions = True
generator = Markdown

[asm]
path = ./generated/spiflash_regs.s
prefix = SPIFLASH
generator = ./generators/asm_generator.py::AsmGenerator
