if { [info exists VERILATOR] } {
  # Verilator target:
  #Connect to Verilator model running a riscv-dbg testbench via remote_bitbang (socket).

  debug_level 0
  adapter speed     10000

  adapter driver remote_bitbang
  remote_bitbang host 127.0.0.1

  remote_bitbang port 9999

  # we don't have srst
  reset_config trst_only

  set _CHIPNAME riscv
  jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x249511C3

  foreach t [jtag names] {
      puts [format "TAP: %s\n" $t]
  }

  set _TARGETNAME $_CHIPNAME.cpu
  target create $_TARGETNAME riscv -chain-position $_TARGETNAME

  riscv set_reset_timeout_sec 2000
  riscv set_command_timeout_sec 2000

  #This replaces set_prefer_sba on
  riscv set_mem_access sysbus progbuf abstract

  # dump jtag chain
  scan_chain

  echo "init..."
  init

  reset halt
} else {
  # FPGA target:
  #Connect to the Arty using the FTDI based USB serial connection.
  adapter driver ftdi

  #OpenOCD supports other transportation methods besides JTAG, e.g. ARM's SWD.
  #We use JTAG.
  transport select jtag

  ftdi device_desc "Digilent USB Device"
  #FTDI USB default VID and PDI assignments
  #(See: https://www.ftdichip.com/Support/Documents/TechnicalNotes/TN_100_USB_VID-PID_Guidelines.pdf)
  ftdi vid_pid 0x0403 0x6010

  # channel 0 is USB JTAG. channel 1 is USB UART.
  ftdi channel 0

  # FTDI GPIO initial data and direction register values.
  # Values taken from SaxonSoc's usb_connect.cfg for Arty A7.
  ftdi layout_init 0x00e8 0x60eb

  # See: https://github.com/pulp-platform/riscv-dbg/blob/master/doc/debug-system.md for
  # irlen, idcode, dtmcs, dmi, expected-id
  set _CHIPNAME riscv
  jtag newtap $_CHIPNAME cpu -irlen 6 -expected-id 0x13631093

  set _TARGETNAME $_CHIPNAME.cpu
  target create $_TARGETNAME riscv -chain-position $_TARGETNAME

  riscv set_ir idcode 0x09
  riscv set_ir dtmcs 0x22
  riscv set_ir dmi 0x23

  adapter speed 25000

  #This replaces set_prefer_sba on
  riscv set_mem_access sysbus progbuf abstract

  # Dump jtag chain
  scan_chain

  echo "init..."
  init

  halt
}

if { [info exists RESET] } {
  echo "Resetting target..."
  reset
  sleep 3000
  halt
  echo "Done."
}

if { [info exists LOAD_FS] } {
  echo "Loading Filesystem image..."
  load_image $LOAD_FS 0x2ff00000
  echo "Done."
}

if { [info exists DUMP_FS] } {
  echo "Dumping Filesystem image..."
  dump_image $DUMP_FS 0x2ff00000 0x100000
  echo "Done."
}

if { [info exists LOAD_APP] } {
  echo "Loading application image..."
  load_image $LOAD_APP 0x20000000
  echo "Done."
}

if { [info exists RUN] } {
  echo "Execute application image..."
  set_reg {pc 0x20000008}
  echo "Done."
}

if { [info exists GDB] } {
  echo "Waiting for GDB..."
} else {
  resume
  exit
}

